<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ this.page.meta_title ?: this.page.title ~ ' | Интернет магазин Цветочный Сад' }}</title>
<meta name="description" content="{{ this.page.meta_description }}">
<link rel="icon" href="{{ global.favicon.path }}" type="{{ global.favicon.content_type }}">
<link rel="stylesheet" href="{{ ['assets/css/app.css','assets/css/main.css'] | theme }}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

{% styles %}