<div class="">
    
    {% for item in items %}
        <div class="flex">
            <div class="border border-rose px-3 py-2 rounded-md bg-rose text-white flex items-center gap-x-1">
                <span class="block ">Производитель: <b>{{ item.title }}</b></span>
                <a href="/shop" class="flex-none">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                        <path d="M5.28 4.22a.75.75 0 0 0-1.06 1.06L6.94 8l-2.72 2.72a.75.75 0 1 0 1.06 1.06L8 9.06l2.72 2.72a.75.75 0 1 0 1.06-1.06L9.06 8l2.72-2.72a.75.75 0 0 0-1.06-1.06L8 6.94 5.28 4.22Z" />
                    </svg>
                </a>
            </div>
        </div>
    {% endfor %}
    
</div>