<div class="container py-6">

    <form action="" data-request="onSetCategory" id="categoryForm" data-request-validate>
    
        <div class="flex items-start">

            <div class="flex-1">
                <h4 class="text-2xl font-bold">Выбрать товары</h4>
                <div class="grid grid-cols-1 gap-3 mt-5" id="products">
                    {% partial 'settings/products' items=products %}                    
                </div>
            </div>

            <div class="w-[450px] flex-none ml-9 bg-black/5 p-6 rounded-md">
                <h4 class="text-2xl font-bold">Присвоить категорию</h4>
                <div class="mt-5">
                    <select name="category" class="select select-bordered w-full">
                        {% partial 'settings/menu' items=categories %}    
                    </select>                
                </div>
                <div class="mt-3">
                    <button class="btn btn-secondary text-base w-full " data-attach-loading>Применить категорию</button> 
                </div>
                <div class="bg-red-500 text-white mt-3 rounded-md py-2 px-3 text-xs" data-validate-error>
                    <p data-message></p>
                </div>                
            </div>

        </div>

    </form>

</div>