description = "Основной шаблон сайта"

[global]
handle = "SkSettings"

[skapp]
==
<!DOCTYPE html>
<html lang="ru" data-overlayscrollbars-initialize>
<head>
    {% partial 'site/head' %}
    {% partial 'meta/breadcrumb-schema' %}
    {% partial 'meta/product-schema' %}
    {% partial 'meta/article-schema' %}
    {% partial 'meta/faq-schema' %}
    
</head>
<body data-overlayscrollbars-initialize>

    <header>
        {% partial 'site/header' %}
    </header>
    
    <main>
        {% page %}
    </main>

    <footer>
        {% partial 'site/footer' %}
    </footer>

    {% partial 'meta/scripts' %}    
    {{ global.body_scripts | raw }}
    
</body>
</html>