<div class="mt-5 space-y-4">

    {% for key, rows in offers %}  
        <div class="">
            <h3 class="text-base/none font-bold mb-2">{{ key | option . name }}</h3>
            {% for i, item in rows %}
                <div class="flex">
                    <input type="radio" name="options[{{ item.code }}]" value="{{ item.id }}" id="opt_{{ item.id }}" data-image="{{ item.preview.path }}" data-price="{{ item.price }}" onchange="setProductPrice(this)" class="peer hidden" {{ i == 0 ? 'checked' : '' }} >
                    <label for="opt_{{ item.id }}" class="peer-checked:bg-rose peer-checked:text-white peer-checked:border-rose py-2 px-4 rounded-md border hover:cursor-pointer">{{ item.title }}</label>
                </div>  
            {% endfor %}
        </div>
    {% endfor %}

</div>