<div class="relative aspect-w-16 aspect-h-16 block border rounded-2xl overflow-hidden cursor-pointer hover:border-purple-1" data-id="{{ item.id }}" onclick="openProduct(this)">

    {% if item.preview %}
        <img src="{{ item.preview.thumb(320,320) }}" alt="{{ item.name }}" class="block max-w-full max-h-full object-contain">
    {% else %}
        <img src="{{ 'assets/images/350x350.jpg' | theme }}" alt="">
    {% endif %}

    <div class="absolute left-3 top-4 z-10 text-xs space-x-1">
        {% if item.is_new %}
            <span class="bg-green-600 text-white rounded-md px-2 py-1">NEW</span>
        {% endif %}
        {% if item.is_popular %}
            <span class="bg-rose text-white rounded-md px-2 py-1">Популярный</span>
        {% endif %}
        {% if item.is_recomended %}
            <span class="bg-blue-600 text-white rounded-md px-2 py-1">Рекомендуем</span>
        {% endif %}
    </div>  

</div>

<div class="flex-1 pt-[30px]">
    <h2 class="text-lg/normal leading-tight line-clamp-2 ">
        {{ item.name }}
    </h2>  
</div>

<div class="pt-[18px] flex items-end flex-wrap gap-y-1 flex-1">                 
    <div class="leading-none text-26px font-bold flex items-center me-3 text-gray">
        <span class="me-1">{{ item.price }}</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="size-5 lpl:size-5 inline-block align-top relative top-[1px]" fill="currentColor" viewBox="0 0 256 256"><path d="M148,156a64,64,0,0,0,0-128H88A12,12,0,0,0,76,40v92H56a12,12,0,0,0,0,24H76v16H56a12,12,0,0,0,0,24H76v20a12,12,0,0,0,24,0V196h44a12,12,0,0,0,0-24H100V156ZM100,52h48a40,40,0,0,1,0,80H100Z"></path></svg>
    </div>    
    <div class="text-gray-1 text-lg">
        {{ item.prices | join('/') }}        
    </div>
</div>

<div class="flex flex-wrap py-2  mt-4 bg-white items-center gap-y-2 ">
    {% partial 'products/available-item' available=item.available %} 
</div>