<div class="flex flex-col min-h-full" itemscope itemtype="https://schema.org/Product">

    <div data-product-id="{{ item.id }}" class="relative block border rounded-2xl overflow-hidden" data-id="{{ item.id }}">   

        <div class="cursor-pointer" onclick="getModalProduct(this)" data-id="{{ item.id }}">
            {% if item.images | length %}
                <div class="f-carousel product-photos">
                    {% for photo in item.images %}
                        <div class="f-carousel__slide">
                            <div class="aspect-w-16 aspect-h-13">
                                <img src="{{ photo.thumb(320,320) }}" alt="{{ item.name }}" class="block size-full object-contain" itemprop="image">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="aspect-w-16 aspect-h-13">
                    <img src="{{ 'assets/images/350x350.jpg' | theme }}" alt="{{ item.name }}" itemprop="image">
                </div>
            {% endif %}
        </div>    

        <div class="absolute left-3 top-4 z-10 text-[.5rem] sm:text-xs flex gap-1 sm:gap-2 flex-wrap flex-col sm:flex-row justify-start items-start">
            {% if item.is_new %}
                <span class="bg-green-600 text-white rounded-md px-2 py-1">NEW</span>
            {% endif %}
            {% if item.is_popular %}
                <span class="bg-rose text-white rounded-md px-2 py-1">Популярный</span>
            {% endif %}
            {% if item.is_recomended %}
                <span class="bg-blue-600 text-white rounded-md px-2 py-1">Рекомендуем</span>
            {% endif %}
        </div>  

    </div>

    <div class="flex-1 pt-3 sm:pt-[30px]">
        <h2 class="text-sm/none sm:text-lg/normal leading-tight line-clamp-2" itemprop="name">
            {{ item.name }}
        </h2>  
    </div>

    <div class="pt-[18px] flex items-end flex-wrap gap-y-1 flex-1" itemprop="offers" itemscope itemtype="https://schema.org/Offer">                 
        <div class="leading-none text-lg sm:text-26px font-bold flex items-center me-3 text-gray font-roboto">
            <span itemprop="price" content="{{ item.product_price }}">{{ item.product_price }}</span> 
            <span itemprop="priceCurrency" content="RUB">₽</span>
        </div>    
        <div class="text-gray-1 text-xs sm:text-lg">
            {{ item.prices | join('/') }}        
        </div>
        <meta itemprop="availability" content="{% if item.available %}https://schema.org/InStock{% else %}https://schema.org/OutOfStock{% endif %}">
        <link itemprop="url" href="{{ item.url }}">
    </div>

    <div class="flex flex-wrap py-2 pt-4 bg-white items-center gap-y-2 mt-auto">
        {% partial 'products/available-item' available=item.available %} 
    </div>

</div>